<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      [alt]="recipe.name"
      style="height: 380px; width: 520px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>{{ recipe.name }}</h3>
  </div>
</div>
<div class="row mb-2">
  <div class="col-xs-12">
    <div class="dropdown">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">To Shopping List</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-xs-12">{{ recipe.descrition }}</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>
