<a style="cursor: pointer" [routerLink]="[index]" class="list-group-item w-75">
  <div class="card mb-3" routerLinkActive="active">
    <div class="row">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">
            {{ recipe.descrition }}
          </p>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-end pe-3 align-self-center">
        <img
          [src]="recipe.imagePath"
          class="img-fluid img-thumbnail object-fit-cover"
          style="width: 150px; height: 100px"
          [alt]="recipe.name"
        />
      </div>
    </div>
  </div>
</a>
