<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-3 mb-3">
          <label for="inputName" class="form-label">Name</label>
          <input type="text" class="form-control" id="inputName" #nameInput />
        </div>
        <div class="col-1 mb-3">
          <label for="inputNumber" class="form-label">Amonut</label>
          <input
            type="number"
            class="form-control"
            id="inputNumber"
            min="1"
            #amountInput
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="button"
            class="btn btn-success mx-2"
            (click)="onAddItem()"
          >
            Add
          </button>
          <button type="submit" class="btn btn-danger">Delete</button>
          <button type="submit" class="btn btn-primary mx-2">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
